
@{
    ViewData["Title"] = "GetPlanet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Planet

<h1>Your Star Wars Planet is:</h1>
<br />


<h1>NAME: @Model.Name</h1>
<h1>CLIMATE: @Model.Climate</h1>
<h1>TERRAIN: @Model.Terrain</h1>
<h1>GRAVITY: @Model.Gravity</h1>
<h1>POPULATION: @Model.Population</h1>
<br />
<h1>RESIDENTS:</h1>
@if (Model.Residents.Count == 0)
{
    <h1>No Residents in Database</h1>
}
else
{
    @foreach (String resident in Model.Residents)
    {
        <h1>@resident</h1>
    }
}


